<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cs48.g05.bbc2016.gauchosell">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".GauchoSell"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
        android:largeHeap="true">
        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.CreateAccountActivity"
            android:screenOrientation="portrait"
            android:label="Create Account"
            android:parentActivityName=".login.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".login.LoginActivity" />
        </activity>
        <activity android:name=".PostItemActivity" />
        <activity android:name=".HomeActivity"
            android:screenOrientation="portrait">
            android:name="GeneralFeedActivity"
            android:label="Login"
            android:parentActivityName=".login.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".login.LoginActivity" />
        </activity>
        <activity android:name=".SettingsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".MyItemsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".MyBidsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".FollowingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".MessagesActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>